<div class="container mt-150">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 upcase" align="center">
      <h4 class="title-700">puoksčių užsakymas internetu </h4>
      <hr>
    </div>
  </div>
</div>

<style>
  .upcase {
    text-transform: uppercase;
  }

  .title-700 {
    font-weight: 700;
  }
</style>