<div class="container-fluid">
  <div class="row" align="center">
    <div class="col-lg-6">
      <div class="mt-30 mb-70"><%= image_tag("flower.jpg") %></div>
      <h3>Bet koks tekstas</h3>
      <button class="btn btn-primary mt-30">Click me</button>
    </div>
    <div class="col-lg-6 overlay">
      <iframe src="//player.vimeo.com/video/204782650?version=3&loop=1&autoplay=1&rel=0&showinfo=0&controls=0&autohide=1" frameborder="0" height="100%" width="100%"></iframe>
    </div>
  </div>
</div>

