<div class="container-fluid">
  <div class="row" align="center">
    <div class="col-sm-6 no-padding" id="window-h">
      <div class="mt-30 mb-70"><%= image_tag("white.png") %></div>
      <p class="title">Bet koks tekstas</p>
      <%= link_to "Atrask", home_path, class: "btn btn-transperant m-30" %>
      <%= render 'layouts/socials' %>
    </div>
     
    <div class="col-sm-6 no-padding" id="window-width">
      <div class="banner">
        <!--<iframe class="video-player video-player--banner" width="100%" height="100%" src="//player.vimeo.com/video/204782650?autoplay=1&controls=0&showinfo=0&loop=1&playlist=Rz-GP7uU0Fc&playsinline=1&disablekb=1" ></iframe>-->
      </div>
    </div>
  </div>
</div>
