.welcome-nav{
  background-color: transparent;
  z-index: 1;
  border: none;
  position: fixed;
  top: 0px;
  width: 100%;
}

.nav-text {
  font-family: "proxima-nova",arial,sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0px;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .98px;
  display: block;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: color .3s,border-bottom-color .3s;
}

.nav-socials {
  float: right;
  margin-top: 25px;
}

.navbar-default .navbar-nav.nav-text li  a{
  color: #000;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover{
  color: #c6c6c6 !important;
  background-color: transparent;
  text-decoration: underline;
}

.navbar-default .navbar-nav a:hover,
.navbar-default .navbar-nav a:focus{
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.nav-hide {
  float: right;
  margin-top: 20px;
  color: #fff;
  background-color: #272727;
  text-align: center;
  padding: 10px;
  border: 1px solid transparent;
}

@media screen and (min-width: 780px) {
  .nav-hide {
    display: none;
  }
}

.nav-hide:hover {
  color: #272727;
  background-color: transparent;
  border: 1px solid #272727;
}