@font-face {
  font-family: "Open Sans Ligth";
  src: url(/assets/OpenSans-Light.ttf) format("truetype");
}

.title {
  font-size: 19px;
  line-height: 1.26em;
  text-transform: none;
  letter-spacing: .02em;
  font-weight: normal;
  font-style: normal;
  color: #333;
}

.m-30 { margin: 30px; }

.mt-30 {
  margin-top: 30px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-150 {
  margin-top: 150px;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.btn-transperant {
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  border: solid 2px;
  border-radius: 0px;
  color: black;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  letter-spacing: .11em;
}

.btn-transperant:hover {
  color: #fff;
  background-color: #333;
  border-color: #333;
}

.max-image{
  max-width: 100%;
  max-height: 100%;
}

.square{
  float: right;
  height: 50%;
  padding: 10px;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: top;
}

.image-fixed{
  position: fixed;
  top: 0px;
}

.line-heigh-25 {
  line-height: 25;
}

.carousel.slide ol {
  position: fixed;
}

.upcase {
  text-transform: uppercase;
}

.title-700 {
  font-weight: 700;
}

section {
    opacity: 1;
    transition: 1s opacity;
}
.fade-out {
    opacity: 0;
    transition: none;
}

label {
  font-weight: inherit;
}

#additional-options {
  display: none;
}

.submit-btn {
  margin-top: 20px;
  margin-bottom: 30px;
  border: 1px solid transparent;
  color: #fff;
  background-color: #272727;
  text-align: center;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.submit-btn:hover {
  color: #272727;
  background-color: #fff;
  border: 1px solid #272727;
}